body {
  background-color: #2E0536;
  color:#f1f1f1;
}

.aggregate-row {
  text-align:center;
}

.dash-agg-item {
  background-color:#481F4F;
  border:1px solid #763382;
  margin-top:5%;
  padding-top:5%;
}

.list-container-header {
  background-color: #390643;
  margin-top:20px;
  padding:10px;
  text-align:center;
}


.dash-list-container {
  background-color:#481F4F;
}

.dash-list-investment, .dash-list-coin, .dash-list-trade {
  margin-bottom:0;
  padding:5px;
  border-bottom:1px solid #763382;
  color:#E6BCFF;
  display: flex;
  justify-content: space-around;

}

.dash-list-investment span {
}

.dash-list-sm-txt {
  font-size:10px;
}

.dash-list-coin {
  font-size:28px;
  padding:10px;
}
